body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.backgroundOrange:hover {
  background-color: orange;
}

.month {
  background-color: orange;
  color: black;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-7 {
  display: grid;
  grid-template-columns: repeat(7,1fr);
}

.grid-7 * {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.days * {
  display: flex;
  margin: 3px;
  border: 1px solid gray;
  align-items: center;
  justify-content: center;
}

.selected {
  background-color: orange;
  border-radius: 50%;
}

.formCalendar {
  background-color: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 3px;
}
.App{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10vw;
}
.calendarApp {
  grid-column: 2;
  grid-row: 1;
}
.formApp{
  grid-column: 1;
  grid-row: 1;
}
.eventApp{
  grid-column: span 2;
  grid-row: 2;
  margin: auto;
}